<div class="grid grid-nogutter">
  <div class="col-8 col-offset-2">
    <br><br><br><br><br><br><br>
    <div style="font-size: small; text-align: center">
      &copy;{{this.curYear}}.  All Rights Reserved.
      <br>
      {{this.disclaimerText}}
    </div>
  </div>

</div>
<div class="grid grid-nogutter">
  <div class="col-6 col-offset-3" style="justify-items: center; text-align: center; justify-content: center;align-items: center;align-content: center; ">
    <app-socialmedia></app-socialmedia>
  </div>
</div>
